<h1>List of users</h1>

<form action="/add_user" method="post">
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter a username...">

  <button>Add user</button>
</form>

<hr>

<table border="1">
  <tr>
    <th>
      Username
    </th>

    <th>
      Private?
    </th>

    <td></td>
    <td></td>

  </tr>

  <% @list_of_users.each do |a_user| %>

    <tr>
      <td>
        <%= a_user.username %>
      </td>

    
      <td>
      <% if a_user.private== false %>
        No
      <% else %>
        Yes
      <%end%>
    
      </td>


      <td>
      <% if current_user.present? %>
        <!--The current user is already following this user-->
      <% if a_user.followers.include?(current_user) %>

          <a href="/delete_follow_request/<%= current_user.sent_follow_requests.find_by(recipient_id: a_user.id)&.id%>">

              Unfollow</a>

        <!--The current user is not following this user ('a _user') and the current user has not sent a request-->
      <% elsif !a_user.followers.include?(current_user) && !current_user.sent_follow_requests.map(&:recipient_id).include?(a_user.id) %>

        <!--if this user is NOT private, status changes to accepted-->
          <% if a_user.private == false %>
            <form action="/insert_follow_request" method="post">

            <input type="hidden" name="query_sender_id" value="<%= current_user.id %>">
            <input type="hidden" name="query_recipient_id" value="<%= a_user.id %>">
            <input type="hidden" name="query_status" value="accepted">

              <button>Follow</button>
            </form>
            
          <!--if the user is private, then status is pending-->
          <% else %> 
            <form action="/insert_follow_request" method="post">

            <input type="hidden" name="query_sender_id" value="<%= current_user.id %>">
            <input type="hidden" name="query_recipient_id" value="<%= a_user.id %>">
            <input type="hidden" name="query_status" value="pending">

              <button>Follow</button>
            </form>
          <% end %>
      <!--The current user has sent the request and got rejected -->
      <% elsif current_user.sent_follow_requests.find_by(recipient_id: a_user).status == "rejected" %>
    
      <% else %>
        <!--current_user.sent_follow_requests.exists?(recipient_id: a_user.id, status: 'rejected')-->

          Request sent.<a href="/delete_follow_request/<%= current_user.sent_follow_requests.find_by(recipient_id: a_user.id)&.id %>">Cancel</a>
      <% end %>
      </td>
      <% end %>

      <td>
        <a href="/users/<%= a_user.username %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
