<div>
  <div>
    <h1>
      List of all photos
    </h1>
  </div>
</div>

<hr>

<% if current_user.present? %>
  <div>
    <h2>
      Add a new photo
    </h2>

    <form action="/insert_photo" method="post" enctype="multipart/form-data">


      <div>
        <label for="image_box">
          Image
        </label>
        <input type="file" id="image_box" name="query_image">

        <label for="caption_box">
          Caption
        </label>

        <textarea id="caption_box" name="query_caption" rows="2" placeholder="Enter a caption for the photo"></textarea>
 


        <label for="owner_id_box"></label>

        <input type="hidden" id="owner_id_box" name="query_owner_id" value="current_user.id">



        <label for="likes_count_box"></label>

        <input type="hidden" id="likes_count_box" name="query_likes_count" value="0">


        <label for="comments_count_box"></label>

        <input type="hidden" id="comments_count_box" name="query_comments_count" value="0">
   

      <button>
        Add photo
      </button>
    </div>
    </form>
  </div>
<% else %>

<% end %>

<!--<div>
  <div>
    <h2>
      Add a new photo
    </h2>

    <form action="/insert_photo" method="post" enctype="multipart/form-data">
      <div>
        <label for="caption_box">
          Caption
        </label>

        <textarea id="caption_box" name="query_caption" rows="3"></textarea>
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="file" id="image_box" name="query_image">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id">
      </div>

      <div>
        <label for="likes_count_box">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count">
      </div>

      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count">
      </div>

      <button>
        Create photo
      </button>
    </form>
  </div>
</div>-->

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Image
        </th>

        <th>
          Caption
        </th>

        <th>
          Owner
        </th>

        <th>
          Posted
        </th>

        <th>
          Likes
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_photos.each do |a_photo| %>
      <tr>

        <td>
          <img src="<%= a_photo.image %>" height="300px">
        </td>

        <td>
          <%= a_photo.caption %>
        </td>

        <td>
          <%= a_photo.poster.username %>
        </td>

        <td>
          <%= time_ago_in_words(a_photo.created_at) %> ago
        </td>

        <td>
          <%= a_photo.likes_count %>
        </td>

        <td>
          <a href="/photos/<%= a_photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
