<div>
  <div>
    <h1>
      Photo details
    </h1>


    <dl>

      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_photo.image %>" height="300px">
      </dd>


      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.poster.username %>
      </dd>
      
      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
        Fans
      </dt>
      <dd>
        <% @the_photo.fans.each do |a_fan| %>
  
        <%= a_fan.username %>
        <% end %>
      </dd>

      <dt>Add a fan
      </dt>
      <dd>
      <% if !@the_photo.fans.where(id: current_user.id).exists? %>
        <form action="/insert_like" method="post">
          <input type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">
          <input type="hidden" value="<%= current_user.id %>" name="query_fan_id">
        <button>Like</button>

      <% else %>
        <form action="/delete_like" method="post">
          <input type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">
          <input type="hidden" value="<%= current_user.id %>" name="query_fan_id">
        <button>Unlike</button>
      <% end %>
        </form>
      </dd>
  
    <% if current_user.id == @the_photo.owner_id%>
      <dt>
        Edit photo
      </dt>
      <dd>
      <form action="/modify_photo/<%#= @the_photo.id %>"  method="post" >

          <label for="caption_box">Caption</label>
          <textarea id="caption_box" placeholder="Enter a caption for the photo..." name="query_caption"><%#= @the_photo.caption %></textarea>


          <label for="image_box">Image URL</label>
          <input type="text" id="image_box" name="query_image" placeholder="Enter a URL for the image..." value="<%#= @the_photo.image %>">
        
          <input type="hidden" id="owner_id_box" name="query_owner_id" value="<%#= @the_photo.owner_id %>">
        
        <button>Update photo</button>
      </form>
      </dd>


      
        <dt>
        Delete photo
        </dt>
        <dd>
        <a href="/delete_photo/<%#= @the_photo.id %>">
          Delete this photo
        </a>
        </dd>
      
      
    <% end %>
    </dl>
  </div>
</div>

<!--<hr>
-->
<h2>Comments</h2>

<table>
  <tr>
    <th>
      Commenter
    </th>

    <th>
      Comment
    </th>

    <th>
      Posted
    </th>
  </tr>

  <% @the_photo.comments.order(created_at: :desc).each do |a_comment| %>

    <tr>
      <td>
        <%= a_comment.commenter.username %>
      </td>

      <td>
        <%= a_comment.body %>
      </td>

      <td>
        <%= time_ago_in_words(a_comment.created_at) %> ago
      </td>
    </tr>
  <% end %>
</table>

<h3>Add a new comment</h3>

<form action="/insert_comment" method="post">
  <!--<label for="browser_photo_id">Photo ID</label>-->
  <input id="browser_photo_id" type="hidden" name="query_photo_id" value=<%= @the_photo.id %>>

  <!--<label for="browser_author_id">Author ID</label>-->
  <input id="browser_author_id" type="hidden" name="query_author_id" value=<%= current_user.id %>>

  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" type=text placeholder="Enter a comment..." name="query_body"></textarea>

  <button>Add comment</button>
  
</form>
